version: "3.3"
services:
  dynamodb:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    volumes:
      - "${MEERKAT_HOME}/_nosql/data:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal
    networks:
      - lambda-local

networks:
  lambda-local:
    driver: bridge
